<a href="https://colab.research.google.com/github/vivs36/learning_python/blob/main/classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class operations:
  def add(a,b):
   print("Sum: ",(a+b))
  def subtract(a,b):
   print("Diff:",(a-b))
  add(10,12)
  subtract(9,5)

Sum:  22
Diff: 4

In [ ]:
class Volume:
  def vol(self):
    return "Undefined"

class Cube(Volume):
  def __init__(self,a):
    self.a=a
  def vol(self):
    return self.a*self.a*self.a

class Cuboid(Volume):
  def __init__(self,l,b,h):
    self.l=l
    self.b=b
    self.h=h
  def vol(self):
    return self.l*self.b*self.h

class Sphere(Volume):
  def __init__(self,r):
    self.r=r
  def vol(self):
    return (4/3)*3.14*self.r*self.r*self.r

class Cylinder(Volume):
  def __init__(self,r,h):
    self.r=r
    self.h=h
  def vol(self):
    return 3.14*self.r*self.r*self.h

class HemiSphere(Volume):
  def __init__(self,r):
    self.r=r
  def vol(self):
    return (2/3)*3.14*self.r*self.r*self.r

class Cone(Volume):
  def __init__(self,r,h):
    self.r=r
    self.h=h
  def vol(self):
    return (1/3)*3.14*self.r*self.r*self.h


c=Cube(5)
print(c.vol())
c=Cuboid(2,3,4)
print(c.vol())
c=Sphere(2)
print(c.vol())
c=Cylinder(2,4)
print(c.vol())
c=HemiSphere(10)
print(c.vol())
c=Cone(5,9)
print(c.vol())

125
24
33.49333333333333
50.24
2093.3333333333335
235.5

In [ ]:
class Cars:
  def __init__(self,name,model,price):
    self.name=name
    self.model=model
    self.price=price

class Volvo(Cars):
  def __init__(self,name,model,price):
    self.name=name
    self.model=model
    self.price=price

class Tesla(Cars):
  def __init__(self,name,model,price):
    self.name=name
    self.model=model
    self.price=price

class BMW(Cars):
  def __init__(self,name,model,price):
    self.name=name
    self.model=model
    self.price=price

class Audi(Cars):
  def __init__(self,name,model,price):
    self.name=name
    self.model=model
    self.price=price

class Ferrari(Cars):
  def __init__(self,name,model,price):
    self.name=name
    self.model=model
    self.price=price

c=Volvo('Volvo','S90',25000000)
print(c.name)
print(c.model)
print(c.price)
c=Tesla('Tesla','Model Y',3799999)
print(c.name)
print(c.model)
print(c.price)
c=BMW('BMW','M8',55000000)
print(c.name)
print(c.model)
print(c.price)
c=Audi('Audi','A8',45000000)
print(c.name)
print(c.model)
print(c.price)
c=Ferrari('Ferrari','F8',4900000)
print(c.name)
print(c.model)
print(c.price)

Volvo
S90
25000000
Tesla
Model Y
3799999
BMW
M8
55000000
Audi
A8
45000000
Ferrari
F8
4900000

In [ ]:
class Employee:
  def __init__(self,name,age,salary):
    self.name=name
    self.age=age
    self.salary=salary
class Mukesh(Employee):
  def __init__(self,name,age,salary):
    self.name=name
    self.age=age
    self.salary=salary
class Michelle(Employee):
  def __init__(self, name, age, salary):
    self.name = name
    self.age = age
    self.salary = salary
class John(Employee):
  def __init__(self, name, age, salary):
    self.name = name
    self.age = age
    self.salary = salary

c=Mukesh('Mukesh',32,21000)
print(c.name)
print(c.age)
print(c.salary)
c=Michelle('Michelle',28,19000)
print(c.name)
print(c.age)
print(c.salary)
c=John('John',40,40000)
print(c.name)
print(c.age)
print(c.salary)

Mukesh
32
21000
Michelle
28
19000
John
40
40000